.topCtaButton {
  display: block;
  width: 90%;
  max-width: 500px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  padding: .45em .35em;
  border: 1px solid var(--primary-light);
  color: var(--primary-light);
  border-radius: 32px;
  font-size: .9rem;
  margin: 0 auto 3em;
}
.topCtaButton:hover, .topCtaButton:focus {
  color: var(--accent);
}

@media (min-width: 800px) {
  .topCtaButton {
    margin: 0em 0em 1em;
  }
}