.aboutLayout {
  background-color: var(--bg-light);
  color: var(--text-grey);
}

.secondLayout {
  padding: 2em 1.5em;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.common {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  padding-bottom: 3em;
}

.commonStatement {
  padding: 0em .7em;
}

.commonStatement > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.commonStatement > p {
  color: var(--text-grey);
}

.commonImage {
  margin: 0 auto;
  border-radius: 8px;
}

.commonImage img {
  border-radius: 8px;
  object-fit: contain;
  max-height: 260px;
}

.common:first-of-type .commonImage {
  display: none;
}

.thirdLayout {
  padding: 2em 0;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.teamIntro {
  padding: 0 1.5em 3em;
}
.teamIntro > h2{
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;  
}
.teamIntro > p {
  color: var(--text-grey);
}

.teamMembers {
  padding: 0 1em;
  display: flex;
  align-items: baseline;
  column-gap: 1em;
  overflow-x: scroll;
  scrollbar-width: none;
}
.teamMembers::-webkit-scrollbar {
  display: none;
}

.fourthLayout {
  width: 90%;
  max-width: 1500px;
  margin: 1em auto 0;
  padding: 5em 1em;
  border-radius: 18px;
  background-color: var(--primary);
  color: var(--primary-lighter);
}

.metricIntro {
  text-align: center;
  padding-bottom: 3em;
}
.metricIntro h2 {
  color: var(--primary-light);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.metricIntro p {
  font-size: 1rem;
  margin-bottom: 1.5em;
}
.metricIntro button {
  cursor: pointer;
  width: 45%;
  padding: .9em 1em;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--container-text);
  color: var(--primary);
}
.metricIntro button:hover, .metricIntro button:focus {
  transform: scale(.98);
  opacity: 80%;
}

.metricsContainer {
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
  overflow-x: scroll;
  scrollbar-width: none;
}
.metricsContainer::-webkit-scrollbar {
  display: none;
}

.metric {
  display: flex;
  align-items: center;
  column-gap: .8em;
}

.metric > span {
  width: 2.5px;
  height: 47px;
  background-color: var(--accent);
}

.metricDetails p:first-of-type{
  color: var(--primary-light);
  font-weight: 800;
  font-size: 1.5rem;
}
.metricDetails p:last-of-type {
  font-size: .85rem;
}

.fifthLayout {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

.testimonialIntro {
  padding: 0 1em;
}

.testimonialIntro h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}

.testimonialIntro p {
  color: var(--text-grey);
  margin-bottom: 2em;
}

.testimonialsContainer {
  padding: .5em 1em 2em;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  align-items: baseline;
  column-gap: 1em;
}
.testimonialsContainer::-webkit-scrollbar {
  display: none;
}

.testimonialsContainer > div {
  min-width: 340px;
}

.sixthLayout {
  display: flex;
  flex-direction: column;
  padding: 0 1em 4em;
}

.partnerIntro {
  padding: 0 .5em 2.2em;
  text-align: center;
}
.partnerIntro > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.partnerIntro > p {
  color: var(--text-grey);
}

.partnerImage {
  border-radius: 12px;
}
.partnerImage img {
  object-fit: cover;
  border-radius: 12px;
  max-height: 250px;
}

.seventhLayout {
  padding: 0 1em 4em;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  align-items: baseline;
}
.testimonialsContainer::-webkit-scrollbar {
  display: none;
}

.goalDetails {
  padding: 0 .5em;
  min-width: 350px;
}

.goalDetails svg {
  color: var(--primary);
  width: 30px;
  height: 30px;
}
.goalDetails h2 {
  padding: 1.3em 0 .65em;
  color: var(--text-dark);
}
.goalDetails p {
  color: var(--text-grey);
  font-weight: 500;
}

.eightLayout {
  position: relative;
  width: 90%;
  max-width: 1500px;
  margin: 1em auto 4em;
  padding: 3em 1em;
  border-radius: 12px;
  background-color: var(--background-muted);
  background-image: url("../public/images/give_food.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.eightLayout h2 {
  color: var(--primary-light);
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.eightLayout p {
  color: var(--primary-lighter);
  margin-bottom: 2em;
}

.inviteContainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  z-index: 4;
}

.blurredFix {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  border-radius: 12px;
}

.getInvolvedButton {
  background-color: var(--container-text);
  color: var(--primary);
  font-weight: 600;
  margin: 0 auto;
}

.lastLayout {
  text-align: center;
  padding: 0 1em 3em;
}

.focusIntro {
  padding: 0 .5em 3em;
}
.focusIntro > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .7em;
}
.focusIntro > p {
  color: var(--text-grey);
  margin-bottom: 1.5em;
}

.focusIntro .focusButton2 {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

.focusImage {
  border-radius: 12px;
}
.focusImage img {
  border-radius: 12px;
  object-fit: contain;
  max-height: 260px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .secondLayout {
    padding: 2em 0 4em;
    max-width: none;
  }
  .common:first-of-type .commonImage {
    display: block;
  }
  .common:last-of-type{
    flex-direction: row-reverse;
  } .common:last-of-type .commonStatement {
    text-align: right;
  }
  .common {
    flex-direction: row;
    padding: 2em 0;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .commonStatement {
    width: 50%;
    text-align: left;
    padding: 0;
  }
  .commonStatement > h2 {
    font-size: 2rem;
  }
  .commonImage {
    width: 40%;
    max-width: 600px;
    margin: 0;
  }
  .commonImage img {
    max-height: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .thirdLayout {
    width: 90%;
    max-width: 1250px;
    padding-bottom: 4em;
  }
  .teamIntro {
    padding: 0;
    padding-bottom: 3em;
  }
  .teamMembers {
    padding: 0;
    margin: 0 auto;
    justify-content: space-around;
  }

  .fourthLayout {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
    width: 100%;
    border-radius: 0%;
    margin: 0;
  }
  .metricIntro {
    max-width: 900px;
    padding: 0;
  }
  .metricIntro > h2 {
    font-size: 1.8rem;
  }
  .metricIntro > p {
    margin-bottom: 2.5em;
  }
  .metricIntro > button {
    max-width: 200px;
  }
  .metricsContainer {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 2em 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .metric {
    justify-content: center;
  }

  .testimonialsContainer {
    width: 90%;
    padding: 1em 0 4em;
    max-width: 1250px;
    margin: 0 auto;
  }
  .testimonialIntro {
    padding: 0;
  }

  .sixthLayout {
    flex-direction: row;
    padding: 2em 0 4em;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .partnerIntro {
    width: 55%;
    max-width: 640px;
    text-align: left;
    padding: 0;
  }
  .partnerIntro > h2 {
    font-size: 2rem;
  }
  .partnerImage {
    width: 40%;
    max-width: 700px;
    max-height: 425px;
    margin: 0;
  }
  .partnerImage img {
    max-height: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .seventhLayout {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto 7em;
    column-gap: 2em;
    border-radius: 8px;
    padding: 4em 2em;
    background-color: var(--background-muted);
  }
  .goalDetails {
    padding: 0%;
  }
  .goalDetails svg {
    color: var(--container-text);
    width: 40px;
    height: 40px;
  }
  .goalDetails > h2 {
    color: var(--primary-light);
    font-weight: 600;
    font-size: 1.3rem;
  }
  .goalDetails > p {
    color: var(--primary-lighter);
  }

  .eightLayout {
    max-width: 1250px;
    margin: 0 auto 7em;
  }
  .inviteContainer {
    max-width: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inviteContainer > h2 {
    font-size: 1.7rem;
  }
  .inviteContainer .getInvolvedButton {
    width: 100%;
  }

  .lastLayout {
    display: flex;
    flex-direction: row;
    padding: 2em 0 4em;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .focusIntro {
    width: 55%;
    max-width: 600px;
    text-align: left;
    padding: 0;
  }
  .focusIntro > h2 {
    font-size: 1.7rem;
  }
  .focusIntro > p {
    margin-bottom: 2em;
  }
  .focusIntro .focusButton2 {
    border-width: 1.8px;
    font-weight: 600;
  }
  .focusImage {
    width: 40%;
    max-width: 700px;
    max-height: 425px;
    margin: 0;
  }
  .focusImage img {
    max-height: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}









/* @media (max-width: 1100px) and (min-width: 800px) {

} */