.contactLayout {
  background-color: var(--bg-light);
  color: var(--text-grey);
}

.secondLayout {
  padding: 2em 1em;
  text-align: center;
}

.contactIntro {
  padding-bottom: 3em;
}

.contactIntro h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.contactIntro p {
  color: var(--text-grey);
}

.contactDetailsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  color: var(--primary);
  align-items: center;
}

.contactDetails {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .5em;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}
.contactDetails svg {
  margin-bottom: 1em;
  width: 24px;
  height: 24px;
}
.contactDetails p:first-of-type {
  font-size: 1.25rem;
  font-weight: 700;
}
.contactDetails p:last-of-type {
  font-size: .9rem;
}
.contactDetails a {
  font-size: .9rem;
  font-weight: 700;
  color: var(--primary);
}

.thirdLayout {
  position: relative;
  padding: 1em 1em 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hoursIntro {
  z-index: 3;
  padding: 0 .5em;
  max-width: 530px;
  margin: 0 auto 3em;
}
.hoursIntro > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.hoursIntro > p {
  color: var(--text-grey);
  margin-bottom: 1.5em;
}
.hoursIntro button {
  cursor: pointer;
  width: 45%;
  padding: .9em 1em;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: transparent;
  border-color: var(--primary);
  border-width: 1.8px;
  font-weight: 600;
  color: var(--primary);
}
.hoursIntro > button:hover,
.hoursIntro > button:focus {
  transform: scale(.98);
  opacity: 80%;
}

.hoursDetails {
  z-index: 3;
  background-color: var(--primary);
  padding: 1.5em 1.5em .5em;
  border-radius: 24px;
  color: var(--primary-light);
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}
.hoursDetails > p:first-of-type {
  margin: 0 auto 2em;
  width: 80%;
  max-width: 120px;
  color: var(--primary);
  background-color: var(--primary-light);
  padding: .65em 1em;
  font-weight: 700;
  border-radius: 12px;
}

.dailyHour {
  margin-bottom: 1.5em;
}
.dailyHour p:first-of-type{
  font-size: 1.2rem;
  font-weight: 700;
}

.blurFix {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.60);
  z-index: 2;
  border-radius: 24px;
}

.fourthLayout {
  padding: 1em 1em 4em;
  text-align: center;
}
.fourthLayout > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.fourthLayout > p {
  margin-bottom: 2em;
}

.eligibilityCheckContainer {
  padding: 0 .5em 1em;
  display: grid;
  gap: 1em 0;
  max-width: 860px;
  margin: 0 auto;
}
.eligibilityCheck {
  display: flex;
  align-items: flex-start;
  text-align: left;
  column-gap: 1em;
}
.eligibilityCheck > p {
  color: var(--button-bg);
  font-size: 1.5rem;
  font-weight: 700;
}
.eligibilityCheckDetails p {
  font-size: .9rem;
}

.largeEligibilityCheckContainer {
  display: none;
  padding: 2em 0 4em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em 1em;
}
.largeEligibilityCheck {
  display: flex;
  column-gap: .9em;
  padding: 1em .8em;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
  border-radius: 24px;
  max-width: 470px;
  align-items: flex-start;
}
.largeEligibilityCheck > p {
  color: var(--button-bg);
  font-size: 1.7rem;
  font-weight: 700;
  width: 20%;
  transform: translateY(-3px);
}
.largeEligibilityCheckDetails {
  text-align: left;
}
.largeEligibilityCheckDetails h3 {
  color: var(--text-dark);
  font-size: 1.2rem;
  margin-bottom: .5em;
}

.fifthLayout {
  padding: 0 1em 4em;
  text-align: center;
}

.libraryImage {
  border-radius: 12px;
  max-height: 400px;
}
.libraryImage img {
  object-fit: contain;
  border-radius: 12px;
  max-height: 400px;
  margin: 0 auto;
}

.criteriaIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.criteriaIntro > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.criteriaIntro > p {
  color: var(--text-grey);
  margin-bottom: 1em;
}
.criteriaIntro > button {
  cursor: pointer;
  width: 45%;
  padding: .9em 1em;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--primary);
  color: var(--primary-light);
}
.criteriaIntro > button:hover,
.criteriaIntro > button:focus {
  transform: scale(.98);
  opacity: 80%;
}

.criteriaContainer {
  padding-top: 2em;
}

.criteriaDetailsContainer {
  padding: 3em 0 0;
  display: grid;
  row-gap: 2em;
}
.criteriaDetail {
  display: flex;
  text-align: left;
  column-gap: 1.2em;
}
.criteriaDetail > p {
  font-size: .9rem;
}
.criteriaIcon {
  min-width: 25px;
}

.sixthLayout {
  padding: 0 1em 4em;
  text-align: center;
}
.sixthLayout > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: .5em;
}
.sixthLayout > p {
  color: var(--text-grey);
  margin-bottom: 3em;
}

.volunteerPositionContainer {
  display: flex;
  column-gap: 1em;
  overflow-x: scroll;
  scrollbar-width: none;
}
.volunteerPositionContainer::-webkit-scrollbar {
  display: none;
}

.volunteerPosition {
  text-align: left;
  min-width: 350px;
}

.volunteerImage{
  padding-bottom: 2em;
}
.volunteerImage img {
  object-fit: contain;
  max-height: 210px;
  border-radius: 12px;
}

.volunteerDetails > h3 {
  color: var(--text-dark);
  font-size: 1.2rem;
  margin-bottom: .5em;
}
.volunteerDetails > p {
  margin-bottom: 1.5em;
}
.volunteerDetails > a {
  color: var(--container);
  font-weight: 700;
}

.lastLayout {
  padding: 0 1em 2em;
}

.lastLayout > h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: 2em;
  text-align: center;
}

.infoContainer {
  display: grid;
  gap: 1.5em 0;
}

@media (min-width: 800px) {
  .secondLayout {
    padding: 3em 0;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
  }

  .contactDetailsContainer {
    padding: 2em 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }
  .contactDetails {
    padding: 1em .2em;
    width: 23%;
    max-width: 250px;
    box-shadow: none;
  }
  .contactDetails svg {
    width: 30px;
    height: 30px;
  }

  .thirdLayout {
    width: 90%;
    max-width: 1250px;
    margin: 2em auto 7em;
    background-color: var(--background-muted);
    background-image: url("../public/images/contact_volunteer_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em min(4em, 5%);
  }
  .hoursIntro {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: left;
  }
  .hoursIntro > h2 {
    color: var(--primary-light);
    font-size: 1.7rem;
  }
  .hoursIntro > p {
    color: var(--primary-lighter);
  }
  .hoursIntro > button {
    color: var(--primary-light);
    border-color: var(--primary-light);
    max-width: 150px;
  }
  .hoursDetails {
    margin: 0;
    width: 40%;
  }
  .blurFix {
    display: block;
  }

  .fourthLayout {
    padding: 0;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto 3em;
  }
  .fourthLayout > p {
    max-width: 790px;
    margin: 0 auto 2em;
  }
  .eligibilityCheckContainer {
    display: none;
  }
  .largeEligibilityCheckContainer {
    display: grid;
  }

  .fifthLayout {
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto 7em;
  }
  .libraryImage {
    width: 30%;
  }
  .libraryImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: none;
  }
  .criteriaContainer {
    padding: 0;
    width: 60%;
  }
  .criteriaIntro {
    align-items: flex-start;
    max-width: 600px;
  }
  .criteriaIntro > button {
    max-width: 150px;
  }
  .criteriaDetailsContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em 1.5em;
  }

  .sixthLayout {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto 7em;
    padding: 0%;
  }
  .sixthLayout > p {
    max-width: 745px;
    margin: 0 auto 4em;
  }

  .lastLayout {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 0 4em;
  }
  .lastLayout > h2 {
    max-width: 620px;
    margin: 0 auto 3em;
  }
  .infoContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5em 2.5em;
    justify-content: space-between;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .largeEligibilityCheck {
    flex-direction: column;
  }
  .fifthLayout {
    flex-direction: column;
    row-gap: 3em;
  }
  .libraryImage {
    width: 100%;
  } .libraryImage img {
    max-width: 400px;
  }
  .criteriaContainer {
    width: 90%;
  }
  .criteriaIntro {
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
}